### Simple ML Project 1
- 간단한 머신러닝 프로세스 실습

#### Index
1. 데이터 수집
2. 데이터 전처리
    - 전처리 1 : feature 5개
    - 전처리 2 : feature 7개
3. 모델 학습
    - DecisionTree
    - RandomForest
    - Gaussian Naive Bayes
    - Logistic Regression
    - Support Vector Machine
4. 모델 평가
5. 모델 저장
6. 모델 사용

In [1]:
import numpy as np
import pandas as pd
# 학습, 테스트 데이터셋 분리 함수
from sklearn.model_selection import train_test_split

#### 1. 데이터 수집

In [4]:
titanic_df = pd.read_csv("../datas/train.csv")
titanic_df.tail(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

#### 2. 데이터 전처리
- 전처리 1 : 수치형 데이터 컬럼 사용
- 전처리 2 : 범주형 데이터를 수치화

In [20]:
# 1 : 5개 feature
data1 = titanic_df[["Survived", "Pclass", "Age", "SibSp", "Parch", "Fare"]]
data1 = data1.dropna()
data1 = data1.reset_index(drop=True)
data1.tail(2)

     Survived  Pclass   Age  SibSp  Parch   Fare
712         1       1  26.0      0      0  30.00
713         0       3  32.0      0      0   7.75

In [56]:
# 2 : 7개 feature
data2 = titanic_df[["Survived", "Pclass", "Age", 
                    "SibSp", "Parch", "Fare", "Sex", "Embarked"]]
data2 = data2.dropna()
data2 = data2.reset_index(drop=True)

# 범주형 데이터 -> 수치형 데이터 : onehot encoding
o_sex = pd.get_dummies(data2["Sex"])
o_embarked = pd.get_dummies(data2["Embarked"])

data2 = pd.concat([data2, o_sex, o_embarked], axis=1)
data2 = data2.drop(columns=["Sex", "Embarked"])

data2.tail(2)

     Survived  Pclass   Age  SibSp  Parch   Fare  female  male  C  Q  S
710         1       1  26.0      0      0  30.00       0     1  1  0  0
711         0       3  32.0      0      0   7.75       0     1  0  1  0

In [24]:
x = data1.drop(columns=["Survived"])
y = data1["Survived"]

In [25]:
train_x, test_x, train_y, test_y = train_test_split(
    x, y, test_size=0.2, random_state=1)
train_x.shape, test_x.shape, train_y.shape, test_y.shape

((571, 5), (143, 5), (571,), (143,))

#### 3. 모델 학습
- DecisionTree
- RandomForest
- Gaussian Naive Bayes
- Logistic Regression
- Support Vector Machine

#### 3.1 DecisionTree

In [13]:
from sklearn.tree import DecisionTreeClassifier

In [26]:
dt_model = DecisionTreeClassifier(random_state=0).fit(train_x, train_y)

#### 3.2 RandomForest

#### 3.3 Gaussian Naive Bayes

#### 3.4 Logistic Regression

#### 3.5 support vector machine

#### 4. 모델 평가

In [30]:
pred_y = dt_model.predict(test_x)
pred_y[:5], np.array(test_y[:5])

(array([1, 0, 0, 0, 0]), array([1, 0, 1, 1, 0]))

In [41]:
len(pred_y[pred_y == np.array(test_y)]) / len(pred_y)

0.6573426573426573

In [42]:
dt_model.score(test_x, test_y)

0.6573426573426573

#### 5. 모델 사용

#### 6. 모델 객체의 저장